* {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media only screen and (max-width: 600px) {
  // Home
  section.home {
    background-image: url("../kjd-assets/hearo-top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 85%);
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      position: relative;
      top: 215px;
      width: 190px;
    }
    .arrow_down {
      position: relative;
      top: 345px;
      height: 28px;
    }
  }
  // About box
  .box {
    background: #6e239a;
    height: 25vh;
    margin: 0 20px;
    font-size: medium;
    text-align: center;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
    top: 85%;

    img {
      position: absolute;
      top: (129px);
      left: 165px;
      width: 25px;
    }
  }
  button.btn {
    background-color: transparent;
    color: white;
    border: red 1px solid;
    margin: 20px;
    width: 70px;
    height: 20px;
    padding: 4px;
    text-align: center;
    font-family: monospace;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
  }

  // About
  .about {
    background: #201728;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 150vh;
    position: absolute;
    top: 510px;
    position: absolute; /* absolute or fixed positioning required */
    clip-path: polygon(0 0, 100% 2%, 100% 92%, 0% 100%);
    text-align: center;

    img.cross {
      height: 80px;
      margin: 40% 0 0;
    }
    section.advertising {
      color: white;
      img.hex {
        position: absolute;
        width: 130px;
        right: 20px;
        top: 30%;
      }
      img.people {
        width: 190px;
        top: 320px;
        z-index: 10;
      }
      img.glyph {
        position: absolute;
        width: 15px;
        right: 90px;
        top: 45%;
      }
    }

    aside.ad {
      text-align: start;
      position: relative;
      width: 100%;

      h3 {
        padding: 0 80px 0 20px;
        position: relative;
        z-index: 100;
      }
      p {
        position: relative;
        left: 20px;
        margin-right: 100px;
        font-size: 10px;
        z-index: 100;
      }
      button {
        background-color: transparent;
        color: white;
        border: red 1px solid;
        margin: 20px;
        width: 70px;
        height: 20px;
        padding: 4px;
        text-align: center;
        font-family: monospace;
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
      }
    }
  }
  section.data {
    display: none;
    background-color: #6f249b;
    height: 150vh;
    position: absolute;
    top: 233%;
    clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0% 100%);
    img.circle {
      position: absolute;
      right: 309px;
      width: 34vw;
      top: 185px;
    }
    img.image-slider {
      position: absolute;
      width: 47vw;
      top: 290px;
      left: 100px;
    }
    aside {
      color: whitesmoke;
      h3 {
        font-size: 50px;
        position: absolute;
        top: 300px;
        right: 300px;
      }
      p {
        position: relative;
        top: 290px;
        left: 250px;
        margin: 10% 40%;
      }
      button {
        color: white;
        position: absolute;
        top: 95vh;
        border: solid red 1px;
        width: 150px;
        padding: 10px 0;
        right: 355px;
        background-color: transparent;
      }
      img.right-arrow {
        position: absolute;
        top: 97vh;
        right: 325px;
      }
    }
    img.down-arrow {
      position: absolute;
      bottom: 120px;
      left: 49%;
    }
  }

  section.cards {
    background-color: white;
    height: 60vh;
    position: absolute;
    top: 475%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    // margin: 20px;
    display: none;
    span {
      color: red;
    }
    .card1 {
      background-image: url("../kjd-assets/bg-square-gradient.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: cover;
      width: 343px;
      height: 277px;
      span {
        top: 30px;
        left: 20px;
        position: relative;
      }
      p {
        top: 30px;
        left: 20px;
        position: relative;
        color: whitesmoke;
        font-size: xx-large;
        padding: 20px 40px 0 0;
      }
    }
    .card2 {
      background-image: url("../kjd-assets/bg-rectangle-gradient.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 343px;
      height: 277px;
      span {
        top: 30px;
        left: 20px;
        position: relative;
      }
      p {
        top: 30px;
        left: 20px;
        position: relative;
        color: whitesmoke;
        font-size: xx-large;
        padding: 20px 40px 0 0;
      }
    }
    .card3 {
      background-image: url("../kjd-assets/bg-circle-gradient.png");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: cover;
      width: 343px;
      height: 277px;
      span {
        top: 30px;
        left: 20px;
        position: relative;
      }
      p {
        top: 30px;
        left: 20px;
        position: relative;
        color: whitesmoke;
        font-size: xx-large;
        padding: 20px 40px 0 0;
      }
    }
  }

  footer {
    background-color: #201728;
    height: 30vh;
    position: absolute;
    top: 540%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 30px;
    display: none;
    h5 {
      color: red;
    }
    section {
      color: whitesmoke;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  // Home
  section.home {
    background-image: url(../kjd-assets/hearo-top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 85%);
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      position: relative;
      top: 215px;
      width: 190px;
    }
    .arrow_down {
      position: relative;
      top: 300px;
      height: 28px;
    }
  }
  // About box
  .box {
    background: #6e239a;
    height: 25vh;
    margin: 0 85px;
    font-size: medium;
    text-align: center;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
    top: 84%;
    img {
      position: absolute;
      top: (146px);
      left: 158px;
      width: 25px;
    }
  }
  button.btn {
    background-color: transparent;
    color: white;
    border: red 1px solid;
    margin: 20px;
    width: 70px;
    height: 20px;
    padding: 4px;
    text-align: center;
    font-family: monospace;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
  }

  // About
  .about {
    background: #201728;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 150vh;
    position: absolute;
    top: 606px;
    // transform: skewY(2deg) translateY(-130px) translateX(-1px);
    position: absolute; /* absolute or fixed positioning required */
    clip-path: polygon(0 0, 100% 2%, 100% 92%, 0% 100%);
    text-align: center;

    img.cross {
      position: relative;
      height: 80px;
      margin: 40% 0 0;
    }
    section.advertising {
      // background-image: url(../kjd-assets/hex-gradient.png);
      // background-size: 30vh;
      // background-repeat: no-repeat;
      color: white;
      // position: relative;
      // left: 40px;
      // display: flex;
      img.hex {
        position: absolute;
        width: 130px;
        right: 20px;
        top: 30%;
      }
      img.people {
        width: 190px;
        top: 320px;
        z-index: 10;
      }
      img.glyph {
        position: absolute;
        width: 15px;
        right: 90px;
        top: 45%;
      }
    }

    aside.ad {
      text-align: start;
      position: relative;

      h3 {
        padding: 0 80px 0 20px;
        position: relative;
        z-index: 100;
      }
      p {
        position: relative;
        left: 20px;
        padding-right: 100px;
        font-size: 10px;
        z-index: 100;
      }
      button {
        background-color: transparent;
        color: white;
        border: red 1px solid;
        margin: 20px;
        width: 70px;
        height: 20px;
        padding: 4px;
        text-align: center;
        font-family: monospace;
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
      }
    }
    .data {
      background-color: #6f249b;
      display: none;
    }
    .cards {
      display: flex;
      justify-content: space-evenly;
      .card1 {
        background-image: url("../kjd-assets/bg-square-gradient.png");
      }
      .card2 {
        background-image: url("../kjd-assets/bg-rectangle-gradient.png");
      }
      .card3 {
        background-image: url("../kjd-assets/bg-circle-gradient.png");
      }
    }
  }

  footer {
    background-color: #201728;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  // Home
  section.home {
    background-image: url(../kjd-assets/hearo-top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 85%);
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      position: relative;
      top: 215px;
      width: 190px;
    }
    .arrow_down {
      position: relative;
      top: 300px;
      height: 28px;
    }
  }
  // About box
  .box {
    background: #6e239a;
    height: 25vh;
    margin: 0 85px;
    font-size: medium;
    text-align: center;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
    top: 84%;
    img {
      position: absolute;
      top: (146px);
      left: 158px;
      width: 25px;
    }
  }
  button.btn {
    background-color: transparent;
    color: white;
    border: red 1px solid;
    margin: 20px;
    width: 70px;
    height: 20px;
    padding: 4px;
    text-align: center;
    font-family: monospace;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
  }

  // About
  .about {
    background: #201728;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 150vh;
    position: absolute;
    top: 460px;
    // transform: skewY(2deg) translateY(-130px) translateX(-1px);
    position: absolute; /* absolute or fixed positioning required */
    clip-path: polygon(0 0, 100% 2%, 100% 92%, 0% 100%);
    text-align: center;

    img.cross {
      position: relative;
      height: 80px;
      margin: 40% 0 0;
    }
    section.advertising {
      // background-image: url(../kjd-assets/hex-gradient.png);
      // background-size: 30vh;
      // background-repeat: no-repeat;
      color: white;
      // position: relative;
      // left: 40px;
      // display: flex;
      img.hex {
        position: absolute;
        width: 130px;
        right: 20px;
        top: 30%;
      }
      img.people {
        width: 190px;
        top: 320px;
        z-index: 10;
      }
      img.glyph {
        position: absolute;
        width: 15px;
        right: 90px;
        top: 45%;
      }
    }

    aside.ad {
      text-align: start;
      position: relative;

      h3 {
        padding: 0 80px 0 20px;
        position: relative;
        z-index: 100;
      }
      p {
        position: relative;
        left: 20px;
        padding-right: 100px;
        font-size: 10px;
        z-index: 100;
      }
      button {
        background-color: transparent;
        color: white;
        border: red 1px solid;
        margin: 20px;
        width: 70px;
        height: 20px;
        padding: 4px;
        text-align: center;
        font-family: monospace;
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
      }
    }
    .data {
      background-color: #6f249b;
      display: none;
    }
    .cards {
      display: flex;
      justify-content: space-evenly;
      .card1 {
        background-image: url("../kjd-assets/bg-square-gradient.png");
      }
      .card2 {
        background-image: url("../kjd-assets/bg-rectangle-gradient.png");
      }
      .card3 {
        background-image: url("../kjd-assets/bg-circle-gradient.png");
      }
    }
  }

  footer {
    background-color: #201728;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  // Home
  section.home {
    background-image: url("../kjd-assets/hearo-top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 85%);
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      position: relative;
      top: 255px;
      width: 190px;
    }
    .arrow_down {
      position: relative;
      top: 300px;
      height: 28px;
    }
  }
  // About box
  .box {
    background: #6e239a;
    height: 25vh;
    margin: 0 20px;
    font-size: medium;
    text-align: center;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
    top: 85%;

    img {
      position: absolute;
      top: (146px);
      left: 158px;
      width: 25px;
    }
  }
  button.btn {
    background-color: transparent;
    color: white;
    border: red 1px solid;
    margin: 20px;
    width: 70px;
    height: 20px;
    padding: 4px;
    text-align: center;
    font-family: monospace;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
  }

  // About
  .about {
    background: #201728;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 150vh;
    position: absolute;
    top: 460px;
    // transform: skewY(2deg) translateY(-130px) translateX(-1px);
    position: absolute; /* absolute or fixed positioning required */
    clip-path: polygon(0 0, 100% 2%, 100% 92%, 0% 100%);
    text-align: center;

    img.cross {
      position: relative;
      height: 80px;
      margin: 40% 0 0;
    }
    section.advertising {
      // background-image: url(../kjd-assets/hex-gradient.png);
      // background-size: 30vh;
      // background-repeat: no-repeat;
      color: white;
      // position: relative;
      // left: 40px;
      // display: flex;
      img.hex {
        position: absolute;
        width: 130px;
        right: 20px;
        top: 30%;
      }
      img.people {
        width: 190px;
        top: 320px;
        z-index: 10;
      }
      img.glyph {
        position: absolute;
        width: 15px;
        right: 90px;
        top: 45%;
      }
    }

    aside.ad {
      text-align: start;
      position: relative;

      h3 {
        padding: 0 80px 0 20px;
        position: relative;
        z-index: 100;
      }
      p {
        position: relative;
        left: 20px;
        padding-right: 100px;
        font-size: 10px;
        z-index: 100;
      }
      button {
        background-color: transparent;
        color: white;
        border: red 1px solid;
        margin: 20px;
        width: 70px;
        height: 20px;
        padding: 4px;
        text-align: center;
        font-family: monospace;
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
      }
    }
    .data {
      background-color: #6f249b;
      display: none;
    }
    .cards {
      display: flex;
      justify-content: space-evenly;
      .card1 {
        background-image: url("../kjd-assets/bg-square-gradient.png");
      }
      .card2 {
        background-image: url("../kjd-assets/bg-rectangle-gradient.png");
      }
      .card3 {
        background-image: url("../kjd-assets/bg-circle-gradient.png");
      }
    }
  }

  footer {
    background-color: #201728;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  // Home
  section.home {
    background-image: url(../kjd-assets/hearo-top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 85%);
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      position: relative;
      top: 320px;
      width: 450px;
    }
    .arrow_down {
      position: relative;
      top: 412px;
      height: 43px;
    }
  }
  // About box
  .box {
    background: #6e239a;
    height: 60vh;
    width: 63vw;
    font-size: xx-large;
    text-align: center;
    left: 185px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 84%, 0% 100%);
    top: 111%;

    img {
      position: absolute;
      top: 285px;
      left: 55%;
      width: 39px;
    }
  }
  button.btn {
    position: relative;
    background-color: transparent;
    color: white;
    border: red 1px solid;
    width: 130px;
    height: 35px;
    top: 20px;
    font-family: monospace;
    font-size: 0.9rem;
  }

  // About
  .about {
    background: #201728;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200vh;
    position: absolute;
    top: 113vh;
    // transform: skewY(2deg) translateY(-130px) translateX(-1px);
    position: absolute; /* absolute or fixed positioning required */
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);
    text-align: center;

    img.cross {
      position: relative;
      height: 161px;
      margin: 35% 0 0;
    }
    section.advertising {
      color: white;

      img.hex {
        position: absolute;
        width: 380px;
        left: 26%;
        top: 40%;
      }
      img.people {
        position: absolute;
        width: 600px;
        top: 50%;
        right: 180px;
        z-index: 50;
      }
      img.glyph {
        position: absolute;
        width: 45px;
        right: 250px;
        top: 47.5%;
        z-index: 100;
      }
      img.arrow-glyph {
        position: absolute;
        top: 75%;
        left: 30%;
        height: 110px;
      }
    }

    aside.ad {
      text-align: start;
      position: absolute;
      top: 45.6%;
      left: 12%;
      z-index: 2000;
      margin-right: 25%;
      h3 {
        // padding: 0 80px 0 20px;
        position: relative;
        z-index: 1000;
        font-size: 50px;
      }
      span {
        position: relative;
        z-index: 100;
        font-size: 50px;
      }
      p {
        position: relative;
        padding-right: 69vw;
        font-size: 15px;
        z-index: 100;
      }
      button {
        background-color: transparent;
        color: white;
        border: red 1px solid;
        margin: 20px;
        width: 70px;
        height: 20px;
        padding: 4px;
        text-align: center;
        font-family: monospace;
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
      }
    }
  }
  section.data {
    background-color: #6f249b;
    height: 150vh;
    position: absolute;
    top: 310%;
    clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0% 100%);
    img.circle {
      position: absolute;
      right: 309px;
      width: 34vw;
      top: 185px;
    }
    img.image-slider {
      position: absolute;
      width: 47vw;
      top: 290px;
      left: 100px;
    }
    aside {
      color: whitesmoke;
      h3 {
        font-size: 50px;
        position: absolute;
        top: 300px;
        right: 300px;
      }
      p {
        position: relative;
        top: 290px;
        left: 250px;
        margin: 10% 40%;
      }
      button {
        color: white;
        position: absolute;
        top: 95vh;
        border: solid red 1px;
        width: 150px;
        padding: 10px 0;
        right: 355px;
        background-color: transparent;
      }
      img.right-arrow {
        position: absolute;
        top: 97vh;
        right: 325px;
      }
    }
    img.down-arrow {
      position: absolute;
      bottom: 120px;
      left: 49%;
    }
  }

  section.cards {
    background-color: white;
    height: 60vh;
    position: absolute;
    top: 475%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    // margin: 20px;
    span {
      color: red;
    }
    .card1 {
      background-image: url("../kjd-assets/bg-square-gradient.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: cover;
      width: 343px;
      height: 277px;
      span {
        top: 30px;
        left: 20px;
        position: relative;
      }
      p {
        top: 30px;
        left: 20px;
        position: relative;
        color: whitesmoke;
        font-size: xx-large;
        padding: 20px 40px 0 0;
      }
    }
    .card2 {
      background-image: url("../kjd-assets/bg-rectangle-gradient.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 343px;
      height: 277px;
      span {
        top: 30px;
        left: 20px;
        position: relative;
      }
      p {
        top: 30px;
        left: 20px;
        position: relative;
        color: whitesmoke;
        font-size: xx-large;
        padding: 20px 40px 0 0;
      }
    }
    .card3 {
      background-image: url("../kjd-assets/bg-circle-gradient.png");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: cover;
      width: 343px;
      height: 277px;
      span {
        top: 30px;
        left: 20px;
        position: relative;
      }
      p {
        top: 30px;
        left: 20px;
        position: relative;
        color: whitesmoke;
        font-size: xx-large;
        padding: 20px 40px 0 0;
      }
    }
  }

  footer {
    background-color: #201728;
    height: 30vh;
    position: absolute;
    top: 540%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 30px;
    h5 {
      color: red;
    }
    section {
      color: whitesmoke;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}
