* {
  margin: 0;
  padding: 0;
  list-style: none;
}
@font-face {
  font-family: myFirstFont;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
  font-family: box;
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Medium.ttf");
}

.box {
  font-family: box;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  right: 0px;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1000;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #6f249b;
  display: block;
  transition: 0.6s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
img.menu {
  width: 38px;
  position: fixed;
  top: 0px;
  right: 0;
  z-index: 10;
  padding: 24px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  // Home
  section.home {
    background-image: url("../kjd-assets/hearo-top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 85%);
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    .logo {
      position: relative;
      top: 215px;
      width: 190px;
    }
    .arrow_down {
      position: relative;
      top: 345px;
      height: 28px;
      animation-name: bounce;
      animation-duration: 3s;
      animation-iteration-count: 3;
    }
    .arrow_down:hover {
      position: relative;
      top: 345px;
      height: 28px;
      animation-name: bounce;
      animation-duration: 3s;
      animation-iteration-count: 3;
    }
  }
  // About box
  .box {
    background: #6e239a;
    height: 27vh;
    margin: 0 20px;
    font-size: 15px;
    text-align: center;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
    top: 85%;
    font-family: box;

    img {
      position: absolute;
      top: 24vh;
      left: 165px;
      width: 25px;
    }
  }
  button.btn {
    background-color: transparent;
    color: white;
    border: #f2055c 1px solid;
    margin: 20px;
    width: 70px;
    height: 20px;
    padding: 4px;
    text-align: center;
    font-family: monospace;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
  }
  button.btn:hover {
    background-color: #f2055c;
    color: white;
    border: #f2055c 1px solid;
    margin: 20px;
    width: 70px;
    height: 20px;
    padding: 4px;
    text-align: center;
    font-family: monospace;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
  }

  // About
  .about {
    background: #201728;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 150vh;
    position: absolute;
    top: 510px;
    position: absolute; /* absolute or fixed positioning required */
    clip-path: polygon(0 0, 100% 2%, 100% 92%, 0% 100%);
    text-align: center;

    img.cross {
      height: 80px;
      margin: 40% 0 0;
    }
    section.advertising {
      color: whitesmoke;

      img.hex {
        position: absolute;
        width: 240px;
        left: 5%;
        top: 33%;
      }
      img.people {
        position: absolute;
        width: 230px;
        top: 32.5%;
        right: 15px;
        z-index: 50;
      }
      img.glyph {
        position: absolute;
        width: 20px;
        right: 40px;
        top: 30%;
        z-index: 100;
      }
      img.arrow-glyph {
        position: absolute;
        top: 71%;
        right: 15%;
        height: 70px;
      }
    }

    aside.ad {
      text-align: start;
      position: absolute;
      top: 49%;
      left: 5%;
      z-index: 2000;
      margin-right: 25%;

      span.advertising {
        position: relative;
        z-index: 100;
        font-family: box;
        font-size: 26px;
      }
      span.communication {
        position: relative;
        z-index: 100;
        font-family: box;
        font-size: 26px;
      }
      p {
        position: static;
        padding: 5px 3vw 10px 0;
        font-size: 12px;
        z-index: 100;
      }
      button {
        background-color: transparent;
        color: white;
        border: #f2055c 1px solid;
        // margin: 20px;
        width: 80px;
        height: 20px;
        padding: 4px;
        text-align: center;
        font-family: monospace;
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
      }
      img.right_arrow {
        position: absolute;
        top: 92%;
        width: 30px;
        left: 70px;
      }
    }
  }
  section.data {
    background-color: #6f249b;
    height: 100vh;
    position: absolute;
    top: 233%;
    clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0% 100%);
    img.circle {
      position: absolute;
      right: 30px;
      width: 70vw;
      top: 200px;
    }
    img.image-slider {
      position: absolute;
      width: 65vw;
      top: 120px;
      left: 10px;
    }
    aside {
      color: whitesmoke;
      h3 {
        font-size: 30px;
        position: absolute;
        top: 200px;
        right: 30px;
        font-family: box;
      }
      p {
        position: relative;
        text-align: center;
        top: 260px;
        margin: 6% 8%;
      }
      button {
        color: white;
        position: absolute;
        top: 77vh;
        border: solid #f2055c 1px;
        width: 120px;
        padding: 10px 0;
        left: 79px;
        background-color: transparent;
      }
      button:hover {
        color: white;
        position: absolute;
        top: 77vh;
        border: solid #f2055c 1px;
        width: 120px;
        padding: 10px 0;
        left: 79px;
        background-color: #f2055c;
      }
      img.right-arrow {
        position: absolute;
        top: 79vh;
        right: 93px;
        width: 40px;
      }
    }
    img.down-arrow {
      position: absolute;
      top: 250px;
      left: 5%;
      height: 60px;
    }
  }

  section.cards {
    background-color: white;
    height: 60vh;
    position: absolute;
    top: 337%;
    margin: 20px;
    span {
      color: #f2055c;
      font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
      font-size: 11px;
    }
    img.right-arrow {
      position: relative;
      left: 229px;
      width: 35px;
    }

    .card1 {
      background-image: url("../kjd-assets/bg-square-gradient.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 280px;
      height: 240px;
      span {
        top: 30px;
        left: 20px;
        position: relative;
      }
      p {
        top: 30px;
        left: 20px;
        position: relative;
        color: whitesmoke;
        font-size: x-large;
        padding: 20px 40px 0 0;
        font-family: box;
      }
      img.right-arrow {
        top: 81px;
      }
    }
    .card2 {
      background-image: url("../kjd-assets/bg-rectangle-gradient.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 280px;
      height: 240px;
      margin: 23px 0;
      span {
        top: 30px;
        left: 20px;
        position: relative;
      }
      img.right-arrow {
        top: 111px;
      }
      p {
        top: 30px;
        left: 20px;
        position: relative;
        color: whitesmoke;
        font-size: x-large;
        padding: 20px 40px 0 0;
        font-family: box;
      }
    }
    .card3 {
      background-image: url("../kjd-assets/bg-circle-gradient.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 280px;
      height: 240px;
      span {
        top: 30px;
        left: 20px;
        position: relative;
      }
      p {
        top: 30px;
        left: 20px;
        position: relative;
        color: whitesmoke;
        font-size: x-large;
        font-family: box;
        padding: 20px 40px 0 0;
      }
      img.right-arrow {
        top: 110px;
      }
    }
  }

  footer {
    background-color: #201728;
    height: 90vh;
    position: absolute;
    top: 500%;
    width: 100%;
    padding-top: 30px;
    font-family: myFirstFont;
    text-align: center;
    h5 {
      color: #f2055c;
      font-size: larger;
      padding-bottom: 10px;
      padding-top: 20px;
    }
    section {
      color: whitesmoke;
    }
    a {
      color: whitesmoke;
      text-decoration: none;
    }
    p {
      padding-top: 5px;
      padding-bottom: 10px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  // Home
  section.home {
    background-image: url(../kjd-assets/hearo-top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 85%);
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      position: relative;
      top: 215px;
      width: 190px;
    }
    .arrow_down {
      position: relative;
      top: 300px;
      height: 28px;
    }
  }
  // About box
  .box {
    background: #6e239a;
    height: 25vh;
    margin: 0 85px;
    font-size: medium;
    text-align: center;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
    top: 84%;
    img {
      position: absolute;
      top: (146px);
      left: 158px;
      width: 25px;
    }
  }
  button.btn {
    background-color: transparent;
    color: white;
    border: red 1px solid;
    margin: 20px;
    width: 70px;
    height: 20px;
    padding: 4px;
    text-align: center;
    font-family: monospace;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
  }

  // About
  .about {
    background: #201728;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 150vh;
    position: absolute;
    top: 606px;
    // transform: skewY(2deg) translateY(-130px) translateX(-1px);
    position: absolute; /* absolute or fixed positioning required */
    clip-path: polygon(0 0, 100% 2%, 100% 92%, 0% 100%);
    text-align: center;

    img.cross {
      position: relative;
      height: 80px;
      margin: 40% 0 0;
    }
    section.advertising {
      // background-image: url(../kjd-assets/hex-gradient.png);
      // background-size: 30vh;
      // background-repeat: no-repeat;
      color: white;
      // position: relative;
      // left: 40px;
      // display: flex;
      img.hex {
        position: absolute;
        width: 130px;
        right: 20px;
        top: 30%;
      }
      img.people {
        width: 190px;
        top: 320px;
        z-index: 10;
      }
      img.glyph {
        position: absolute;
        width: 15px;
        right: 90px;
        top: 45%;
      }
    }

    aside.ad {
      text-align: start;
      position: relative;

      h3 {
        padding: 0 80px 0 20px;
        position: relative;
        z-index: 100;
      }
      p {
        position: relative;
        left: 20px;
        padding-right: 100px;
        font-size: 10px;
        z-index: 100;
      }
      button {
        background-color: transparent;
        color: white;
        border: red 1px solid;
        margin: 20px;
        width: 70px;
        height: 20px;
        padding: 4px;
        text-align: center;
        font-family: monospace;
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
      }
    }
    .data {
      background-color: #6f249b;
      display: none;
    }
    .cards {
      display: flex;
      justify-content: space-evenly;
      .card1 {
        background-image: url("../kjd-assets/bg-square-gradient.png");
      }
      .card2 {
        background-image: url("../kjd-assets/bg-rectangle-gradient.png");
      }
      .card3 {
        background-image: url("../kjd-assets/bg-circle-gradient.png");
      }
    }
  }

  footer {
    background-color: #201728;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  // Home
  section.home {
    background-image: url(../kjd-assets/hearo-top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 85%);
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      position: relative;
      top: 297px;
      width: 430px;
    }
    .arrow_down {
      position: relative;
      top: 372px;
      height: 39px;
    }
  }
  // About box
  .box {
    background: #6e239a;
    height: 62vh;
    width: 63vw;
    text-align: center;
    left: 87px;
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 84%, 0% 100%);
    top: 110%;
    p {
      padding: 20px 57px;
      font-size: 29px;
    }
    img {
      position: absolute;
      top: 255px;
      left: 56.5%;
      width: 43px;
    }
    button.btn {
      position: relative;
      background-color: transparent;
      color: whitesmoke;
      border: #f2055c 1px solid;
      width: 130px;
      height: 35px;
      font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
    }
  }

  // About
  .about {
    background: #201728;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250vh;
    position: absolute;
    top: 110vh;
    // transform: skewY(2deg) translateY(-130px) translateX(-1px);
    position: absolute; /* absolute or fixed positioning required */
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);
    text-align: center;

    img.cross {
      position: relative;
      height: 165px;
      margin: 35.5% 0 0;
    }
    section.advertising {
      color: whitesmoke;

      img.hex {
        position: absolute;
        width: 380px;
        left: 27%;
        top: 43%;
      }
      img.people {
        position: absolute;
        width: 520px;
        top: 53.5%;
        right: 60px;
        z-index: 50;
      }
      img.glyph {
        position: absolute;
        width: 40px;
        right: 130px;
        top: 51%;
        z-index: 100;
      }
      img.arrow-glyph {
        position: absolute;
        top: 79%;
        left: 30%;
        height: 110px;
      }
    }

    aside.ad {
      text-align: start;
      position: absolute;
      top: 48.5%;
      left: 9%;
      z-index: 2000;
      margin-right: 25%;

      span.advertising {
        position: relative;
        z-index: 100;
        font-family: box;
        font-size: 49px;
      }
      span.communication {
        position: relative;
        z-index: 100;
        font-family: box;
        font-size: 49px;
      }
      p {
        position: static;
        padding: 25px 39vw 30px 0;
        font-size: 15px;
        z-index: 100;
      }
      button {
        position: static;
        background-color: transparent;
        color: white;
        border: #f2055c 1px solid;
        width: 123px;
        height: 31px;
        margin: 10px 0 0 0;
        text-align: center;
        font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
      }
      button :hover {
        position: static;
        background-color: #f2055c;
        color: white;
        border: #f2055c 1px solid;
        width: 123px;
        height: 31px;
        margin: 10px 0 0 0;
        text-align: center;
        font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
      }
      img.right_arrow {
        position: absolute;
        top: 93%;
        left: 107px;
      }
    }
  }
  section.data {
    background-color: #6f249b;
    height: 150vh;
    position: absolute;
    top: 347%;
    clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0% 100%);
    img.circle {
      position: absolute;
      right: 309px;
      width: 34vw;
      top: 185px;
    }
    img.image-slider {
      position: absolute;
      width: 47vw;
      top: 290px;
      left: 100px;
    }
    aside {
      color: whitesmoke;

      h3 {
        font-size: 50px;
        position: absolute;
        top: 300px;
        right: 150px;
        font-family: box;
      }
      p {
        position: relative;
        top: 290px;
        left: 220px;
        margin: 10% 37%;
        font-family: myFirstFont;
      }
      button {
        color: white;
        position: absolute;
        top: 98vh;
        border: solid #f2055c 1px;
        width: 150px;
        padding: 10px 0;
        right: 275px;
        font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
        background-color: transparent;
      }
      button :hover {
        color: white;
        position: absolute;
        top: 98vh;
        border: solid #f2055c 1px;
        width: 150px;
        padding: 10px 0;
        right: 275px;
        font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
        background-color: transparent;
      }
      img.right-arrow {
        position: absolute;
        top: 100.5vh;
        right: 253px;
      }
    }
    img.down-arrow {
      position: absolute;
      bottom: 120px;
      left: 49%;
    }
  }

  section.cards {
    background-color: white;
    height: 60vh;
    position: absolute;
    top: 510%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    // margin: 20px;
    span {
      color: #f2055c;
      font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
      font-size: 11px;
    }
    img.right-arrow {
      position: relative;
      left: 239px;
      width: 40px;
    }

    .card1 {
      background-image: url("../kjd-assets/bg-square-gradient.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: cover;
      width: 300px;
      height: 277px;
      span {
        top: 30px;
        left: 20px;
        position: relative;
      }
      p {
        top: 30px;
        left: 20px;
        position: relative;
        color: whitesmoke;
        font-size: xx-large;
        padding: 20px 40px 0 0;
        font-family: box;
      }
      img.right-arrow {
        top: 71px;
      }
    }
    .card2 {
      background-image: url("../kjd-assets/bg-rectangle-gradient.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 300px;
      height: 277px;

      span {
        top: 30px;
        left: 20px;
        position: relative;
      }
      img.right-arrow {
        top: 80px;
      }
      p {
        top: 30px;
        left: 20px;
        position: relative;
        color: whitesmoke;
        font-size: xx-large;
        padding: 20px 40px 0 0;
        font-family: box;
      }
    }
    .card3 {
      background-image: url("../kjd-assets/bg-circle-gradient.png");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: cover;
      width: 300px;
      height: 277px;
      span {
        top: 30px;
        left: 20px;
        position: relative;
      }
      p {
        top: 30px;
        left: 20px;
        position: relative;
        color: whitesmoke;
        font-size: xx-large;
        font-family: box;
        padding: 20px 40px 0 0;
      }
      img.right-arrow {
        top: 80px;
      }
    }
  }

  footer {
    background-color: #201728;
    height: 25vh;
    position: absolute;
    top: 570%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 30px;
    font-family: myFirstFont;
    h5 {
      color: #f2055c;
      font-size: larger;
      padding-bottom: 20px;
    }
    section {
      color: whitesmoke;
    }
    a {
      color: white;
      text-decoration: none;
    }
    p {
      padding-top: 5px;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  // Home
  section.home {
    background-image: url(../kjd-assets/hearo-top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 85%);
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 2s;
    .logo {
      position: relative;
      top: 320px;
      width: 450px;
    }
    .arrow_down {
      position: relative;
      top: 465px;
      height: 47px;
      animation-name: bounce;
      animation-duration: 3s;
    }
  }
  // About box
  .box {
    background: #6e239a;
    height: 62vh;
    width: 63vw;
    text-align: center;
    left: 185px;
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 84%, 0% 100%);
    top: 110%;
    p {
      padding: 20px 57px;
      font-size: 39px;
    }
    img {
      position: absolute;
      top: 309px;
      left: 55.5%;
      width: 41px;
    }
    button.btn {
      position: relative;
      background-color: transparent;
      color: whitesmoke;
      border: #f2055c 1px solid;
      width: 130px;
      height: 35px;
      font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
    }
  }

  // About
  .about {
    background: #201728;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250vh;
    position: absolute;
    top: 110vh;
    // transform: skewY(2deg) translateY(-130px) translateX(-1px);
    position: absolute; /* absolute or fixed positioning required */
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);
    text-align: center;

    img.cross {
      position: relative;
      height: 165px;
      margin: 35.5% 0 0;
    }
    section.advertising {
      color: whitesmoke;

      img.hex {
        position: absolute;
        width: 380px;
        left: 27%;
        top: 43%;
      }
      img.people {
        position: absolute;
        width: 600px;
        top: 53.5%;
        right: 180px;
        z-index: 50;
      }
      img.glyph {
        position: absolute;
        width: 45px;
        right: 250px;
        top: 51%;
        z-index: 100;
      }
      img.arrow-glyph {
        position: absolute;
        top: 79%;
        left: 30%;
        height: 110px;
      }
    }

    aside.ad {
      text-align: start;
      position: absolute;
      top: 48.5%;
      left: 15%;
      z-index: 2000;
      margin-right: 25%;

      span.advertising {
        position: relative;
        z-index: 100;
        font-family: box;
        font-size: 49px;
      }
      span.communication {
        position: relative;
        z-index: 100;
        font-family: box;
        font-size: 49px;
      }
      p {
        position: static;
        padding: 25px 39vw 30px 0;
        font-size: 15px;
        z-index: 100;
        font-family: myFirstFont;
      }
      button {
        position: static;
        background-color: transparent;
        color: white;
        border: #f2055c 1px solid;
        width: 123px;
        height: 31px;
        margin: 20px 0 0 0;
        text-align: center;
        font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
      }
      button:hover {
        position: static;
        background-color: #f2055c;
        color: white;
        border: #f2055c 1px solid;
        width: 123px;
        height: 31px;
        margin: 20px 0 0 0;
        text-align: center;
        font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
      }

      img.right_arrow {
        position: absolute;
        top: 93%;
        left: 107px;
      }
    }
  }
  section.data {
    background-color: #6f249b;
    height: 150vh;
    position: absolute;
    top: 347%;
    clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0% 100%);
    img.circle {
      position: absolute;
      right: 309px;
      width: 34vw;
      top: 185px;
    }
    img.image-slider {
      position: absolute;
      width: 47vw;
      top: 290px;
      left: 100px;
    }
    aside {
      color: whitesmoke;
      h3 {
        font-size: 50px;
        position: absolute;
        top: 300px;
        right: 300px;
        font-family: box;
      }
      p {
        position: relative;
        top: 290px;
        left: 250px;
        margin: 10% 40%;
        font-family: myFirstFont;
      }
      button {
        color: white;
        position: absolute;
        top: 95vh;
        border: solid #f2055c 1px;
        width: 150px;
        padding: 10px 0;
        right: 355px;
        font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
        background-color: transparent;
      }
      img.right-arrow {
        position: absolute;
        top: 97vh;
        right: 325px;
      }
    }
    img.down-arrow {
      position: absolute;
      bottom: 120px;
      left: 49%;
    }
  }

  section.cards {
    background-color: white;
    height: 60vh;
    position: absolute;
    top: 510%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    // margin: 20px;
    span {
      color: #f2055c;
      font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
      font-size: 11px;
    }
    img.right-arrow {
      position: relative;
      left: 279px;
      width: 40px;
    }

    .card1 {
      background-image: url("../kjd-assets/bg-square-gradient.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: cover;
      width: 343px;
      height: 277px;
      span {
        top: 30px;
        left: 20px;
        position: relative;
      }
      p {
        top: 30px;
        left: 20px;
        position: relative;
        color: whitesmoke;
        font-size: xx-large;
        padding: 20px 40px 0 0;
        font-family: box;
      }
      img.right-arrow {
        top: 69px;
      }
    }
    .card2 {
      background-image: url("../kjd-assets/bg-rectangle-gradient.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 343px;
      height: 277px;

      span {
        top: 30px;
        left: 20px;
        position: relative;
      }
      img.right-arrow {
        top: 111px;
      }
      p {
        top: 30px;
        left: 20px;
        position: relative;
        color: whitesmoke;
        font-size: xx-large;
        padding: 20px 40px 0 0;
        font-family: box;
      }
    }
    .card3 {
      background-image: url("../kjd-assets/bg-circle-gradient.png");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: cover;
      width: 343px;
      height: 277px;
      span {
        top: 30px;
        left: 20px;
        position: relative;
      }
      p {
        top: 30px;
        left: 20px;
        position: relative;
        color: whitesmoke;
        font-size: xx-large;
        font-family: box;
        padding: 20px 40px 0 0;
      }
      img.right-arrow {
        top: 110px;
      }
    }
  }

  footer {
    background-color: #201728;
    height: 25vh;
    position: absolute;
    top: 570%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 30px;
    font-family: myFirstFont;
    h5 {
      color: #f2055c;
      font-size: larger;
      padding-bottom: 20px;
    }
    section {
      color: whitesmoke;
    }
    a {
      color: white;
      text-decoration: none;
    }
    p {
      padding-top: 5px;
    }
  }
}
